@media screen and (min-width:578px) and (max-width: 1920px){

    #heading{
        background-image: url(./images/theme.png);
        max-width: 100%;
        background-size: 100%  cover;
        background-repeat: no-repeat;
        height: 160px;
        background-position: center;
        background-color: rgb(255, 255, 255);
    }

    .wrapper{
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }

    .font-for-nav{
    font-size: 20px;
    }

    .font-footer-call{
        font-size: 25px;
    }

    nav{
        background: rgba(0, 183, 255, 0.774);
    }

    nav ul{
        list-style-type: none;
        padding: 0;
    
    }

    nav a{
        text-decoration: none;
        text-align: center;
        color: rgb(255, 255, 255);
        display: block;
        padding: 10px;
    }

    nav a:hover{
        background-color: rgb(174, 160, 255);
        width: auto;
        color: white;
    }

    nav ul{
        display: flex;
        width: 100%;
    }
      
    nav li{
        flex: 1 1 0;
    }

    nav{
        display: center;
        justify-content: space-between;
    }

    .body-bg-color{
        background: rgb(255, 255, 255);
    }

    .slide-show-render-full .slide-image {
    
        max-height: 420px;
        max-width: 800px;
       text-align: center;
    }
        
    .slide-show-render-full .slide-content {
        height: 420px;
        width: 800px;
        text-align: center;
    }
        
    .slide-show-render .slides {
        height: 500px;
        text-align: center;
    }
        
    .slide-show-render.slide-show {
        height: 420px;
        text-align: center;
       
    }
        
    .slide-show {
        width: 1000px;
        text-align: center;
    }

    .carousel-control-prev{
          background: rgba(0, 183, 255, 0.774);
        max-width: 100px;
        
    }

    .carousel-control-next{
        background: rgba(0, 183, 255, 0.774);
        max-width: 100px;
    }

    .pet-Icon{
    justify-content: space-between;
    border-radius: 100px;
    min-height: 200px;
    max-width: 200px;
    padding: 35px;
    }

    .pet-Icon-row2-margin{
        margin-bottom: 100px;
    }

    .center-Icons{
        margin-left: 475px;
        margin-top: 100px;
    }

    .footer-color{
        background-color: rgba(0, 183, 255, 0.774);
        min-height: 145px;
    }

    .footer-space{
        justify-content: space-between;
    }

    #footer{
    bottom: 0;
    width: 100%;
    }

    @keyframes background-color{
      100% {
     background-color:rgba(174, 160, 255);
       }

  }

}

@media screen and (min-width: 280px) and (max-width: 577px){

#heading{
      background-image: url(./images/theme.png);
      background-size: 100%  cover;
      background-repeat: no-repeat;
      height: 160px;
      background-position: center;
      background-color: rgb(255, 255, 255);
}

.wrapper{
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
}

.font-for-nav{
    font-size: 20px;
}

.font-footer-call{
    font-size: 16px;
}

nav{
      background: rgba(0, 183, 255, 0.774);
}

nav ul{
      list-style-type: none;
      padding: 0;
  
}

nav a{
      text-decoration: none;
      text-align: center;
      color: rgb(255, 255, 255);
      display: block;
      padding: 10px;
}

nav a:hover{
      background-color: rgb(174, 160, 255);
      width: auto;
      color: white;
}

nav ul{
      display: flex;
      width: 100%;
}
    
nav li{
      flex: 1 1 0;
}

nav{
      display: center;
      justify-content: space-between;
}

.body-bg-color{
      background: rgb(255, 255, 255);
}

.slide-show-render-full .slide-image {
  
      max-height: 55%;
      max-width: 80%;
     text-align: center;
}
      
.slide-show-render-full .slide-content {
      height: 55%;
      width: 80%;
      text-align: center;
}
      
.slide-show-render .slides {
      height: 55%;
      max-width: 80%;
      text-align: center;
}
      
.slide-show-render.slide-show {
      height: 55%;
      max-width: 80%;
      text-align: center;
     
}
      
.slide-show {
      width: 85%; 
      max-height: 55%;
      text-align: center;
     
}

  .carousel-control-prev{
    background: rgba(0, 183, 255, 0.774);
  max-width: 100px;
  
}

.carousel-control-next{
  background: rgba(0, 183, 255, 0.774);
  max-width: 100px;
}

.pet-Icon{
border-radius: 50%;
border-color: black;
border-width: 25px;
min-height: 65px;
max-width: 65px;
padding: 15%;
margin-left: 65%;
   }

.pet-Icon-row2-margin{
    margin-bottom: 100px;
}

.pet-Icon-row1-margin{
    margin-top: 75px;
}

.footer-color{
    background-color: rgba(0, 183, 255, 0.774);
    
}

.footer-space{
    justify-content: space-between;
}

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}


  @keyframes background-color{
    100% {
   background-color:rgba(174, 160, 255);
     }

}

}



